<!DOCTYPE html>
<html lang="en">
<head>
    <title>A.Me</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="AMe Flight Training Record">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/content/font-awesome.css">
    <link rel="stylesheet" href="/content/bootstrap-switch.css">
    <link rel="stylesheet" href="/content/style.css">
    <link rel="stylesheet" href="/content/widgets.css">
    <link rel="stylesheet" href="/lib/toastr/toastr.css">
    <link rel="stylesheet" href="/content/site.css">

    <!-- HTML5 Support for IE -->
    <!--[if lt IE 9]>
    <script src="/lib/bootswitch/js/html5shim.js"></script>
    <![endif]-->

</head>
<body data-ng-app="app">
<div class="container-fluid">
    <div data-ng-include="'/app/main/main.html'"></div>
</div>

<script src="/lib/jquery/dist/jquery.min.js"></script>
<script src="/lib/angular/angular.js"></script>
<script src="/lib/angular-resource/angular-resource.js"></script>
<script src="/lib/angular-route/angular-route.js"></script>
<script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="/lib/bootswitch/js/bootstrap-switch.min.js"></script>
<script src="/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="/lib/lodash/dist/lodash.js"></script>
<script src="/lib/moment/moment.js"></script>
<script src="/lib/restangular/dist/restangular.js"></script>

<!-- client app libs go here -->
<script src="/app/app.js"></script>
<script src="/app/main/navUserVm.js"></script>
<script src="/app/main/dashboardVm.js"></script>
<script src="/app/lib/loginprovider.js"></script>
<script src="/app/lib/authSvc.js"></script>
<script src="/app/lib/identityMd.js"></script>
<script src="/app/lib/sumbykeyFlt.js"></script>
<script src="/app/data/data.js"></script>
<script src="/app/lib/logger.js"></script>
<script src="/app/hours/addHoursDir.js"></script>
<script src="/app/hours/hoursListDir.js"></script>
<script src="/app/hours/hoursVm.js"></script>
<script src="/app/hours/addHoursVm.js"></script>
<script src="/app/students/addStudentDir.js"></script>
<script src="/app/students/studentListDir.js"></script>
<script src="/app/students/studentsVm.js"></script>
<script src="/app/students/studentVm.js"></script>
<script src="/app/students/addStudentVm.js"></script>
</body>
</html>
