<div class="widget wgreen">
    <div class="widget-head">
        <div class="page-title pull-left">Students
            (<small class="page-title-subtle" data-ng-bind="filtered.length"></small> of
            <small class="page-title-subtle" data-ng-bind="students.length"></small>)
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="widget-content user">
        <div class="padd hover"
             data-ng-repeat="s in filtered = (students | filter:search) | orderBy:predicate:reverse"
             data-ng-click="gotoStudent(s)">
            <div class="user" title="Go to student details">
                <span class="user-pic"><i class="fa fa-user fa-4x"></i></span>
                <div class="user-details">
                    <small>Flight: {{s.flight}}</small>
                    <small>Ground: {{s.ground}}</small>
                    <h6>{{s.name}}</h6>
                    <small>{{s.email}}</small>
                </div>
            </div>
        </div>
    </div>
</div>

