<section class="matter">
    <div>
        <div class="row">
            <div class="col-md-4">
                <div class="input-group col-md-12">
                <input type="text"
                       class="form-control"
                       placeholder="Filter name, email, or hour"
                       data-ng-model="filterText" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                </div>
            </div>
            <div class="col-md-2">
                <div class="btn-group pull-right">
                    <button class="btn btn-info"
                            data-ng-click="addStudent()"
                            >
                        <span class="fa fa-plus"></span> <span>Add Student</span>
                    </button>
                </div>
            </div>
        </div>
        <div data-ng-show="students.length == 0">
            <h4><i>There are no students to list</i></h4>
        </div>
        <div class="row">
            <div class="col-md-6" data-ng-show="students.length > 0">
                <student-list students="students" search="filterText"></student-list>
            </div>
        </div>
     </div>
</section>
