<section class="matter">
    <div class="row">
        <div class="col-md-12">
            <ul class="today-datas">
                <li class="bgreen"><a href="#/hours/add/new">
                    <div class="pull-left"><i class="fa fa-calendar-o"></i></div>
                    <div class="datas-text pull-right">
                        <span class="bold" data-ng-bind="currentHours.month"></span>
                        <small class="small pull-left">Flight: <small data-ng-bind="currentHours.flight"></small></small>
                        <small class="small pull-right" style="padding-left: 1.8em;">Ground: <smalll data-ng-bind="currentHours.ground"></smalll></small>
                    </div>
                    <div class="clearfix"></div></a>
                </li>
                <li class="blightblue"><a href="#/students">
                    <div class="pull-left"><i class="fa fa-group"></i></div>
                    <div class="datas-text pull-right"><span class="bold" data-ng-bind="numberOfStudents"></span> Students</div>
                    <div class="clearfix"></div></a>
                </li>
                <li class="bviolet"><a href="#/hours">
                    <div class="pull-left"><i class="fa fa-clock-o"></i></div>
                    <div class="datas-text pull-right" style="padding-right: 2em;"><span class="bold" data-ng-bind="myHours"></span> Hours</div>
                    <div class="clearfix"></div></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="widget worange">
                <div class="widget-head">
                    <div class="pull-left">Add Hours</div>
                    <div class="clearfix"></div>
                </div>
                <div class="widget-content">
                    <form method="post" name="frm" role="form" novalidate>
                        <div class="form-group">
                            <label for="studentSelect">Student</label>
                            <select id="studentSelect"
                                    class="form-control"
                                    data-ng-show="currentHours.isAdd"
                                    data-ng-options="student.name for student in students"
                                    data-ng-model="currentHours.student">
                            </select>
                            <span data-ng-show="!currentHours.isAdd" data-ng-bind="currentHours.student"></span>
                        </div>
                        <div class="form-group">
                            <p class="input-group">
                                <input type="text"
                                       class="form-control"
                                       datepicker-popup="shortDate"
                                       ng-model="currentHours.date"
                                       ng-required="true"
                                       is-open="opened"
                                       close-text="Close" />
                  <span class="input-group-btn">
                    <button class="btn btn-default btn-adjust" ng-click="open($event)"> <i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                            </p>
                        </div>
                        <div class="form-group has-feedback" data-ng-class="{ 'has-error' : frm.flightHours.$invalid }">
                            <label for="flightHours">Flight</label>
                            <input type="text"
                                   name="flightHours"
                                   id="flightHours"
                                   class="form-control"
                                   data-ng-pattern="/^([0-9]{0,2})(\.[0-9]{0,1})?$/"
                                   data-ng-model="currentHours.flight"
                                   placeholder="0 - 99.9">
                <span class="glyphicon glyphicon-remove form-control-feedback"
                      data-ng-show="!frm.flightHours.$pristine && frm.flightHours.$invalid"></span>
                        </div>
                        <div class="form-group has-feedback" data-ng-class="{ 'has-error' : frm.groundHours.$invalid }">
                            <label for="groundHours">Ground</label>
                            <input type="text"
                                   name="groundHours"
                                   id="groundHours"
                                   class="form-control"
                                   data-ng-pattern="/^([0-9]{0,2})(\.[0-9]{0,1})?$/"
                                   data-ng-model="currentHours.ground"
                                   placeholder="0 - 99.9">
                <span class="glyphicon glyphicon-remove form-control-feedback"
                      data-ng-show="!frm.groundHours.$pristine && frm.groundHours.$invalid"></span>
                        </div>
                        <div class="form-group has-feedback" data-ng-class="{ 'has-error' : frm.tailNumber.$invalid }">
                            <label for="tailNumber">Tail Number</label>
                            <input type="text"
                                   name="tailNumber"
                                   id="tailNumber"
                                   class="form-control"
                                   ng-model="currentHours.tailNumber"
                                   data-ng-pattern="/^([Nn|Xx])(.{5})$/"
                                   typeahead="tailNumber for tailNumber in planes | filter:$viewValue | limitTo:8">
                <span class="glyphicon glyphicon-remove form-control-feedback"
                      data-ng-show="!frm.tailNumber.$pristine && frm.tailNumber.$invalid"></span>
                        </div>
                        <div class="form-group">
                            <label for="comments">Comments</label>
                            <textarea id="comments"
                                      class="form-control"
                                      data-ng-model="currentHours.comments">
                            </textarea>
                        </div>
                        <div>
                            <button class="btn btn-info"
                                    data-ng-disabled="frm.$invalid"
                                    data-ng-click="save()">
                                <i class="fa fa-save"></i>
                                <span data-ng-show="currentHours.isAdd">Add</span>
                                <span data-ng-show="!currentHours.isAdd">Save</span>
                            </button>
                            <button class="btn btn-info" data-ng-click="cancel()"><i class="fa fa-undo"></i>Cancel</button>
                            <button class="btn btn-danger" data-ng-show="showDelete" data-ng-click="delete()"><i class="fa fa-trash-o"></i>Delete</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="widget worange">
                <div class="widget-head">
                    <div class="pull-left"><span data-ng-bind="title"></span> Hours</div>
                    <div class="clearfix"></div>
                </div>
                <div class="widget-content">
                    <table class="table table-bordered table-striped table-condensed">
                        <thead>
                        <tr>
                            <th>Date</th>
                            <th data-ng-show="showStudent">Student</th>
                            <th>Tail Number</th>
                            <th>Flight</th>
                            <th>Ground</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-ng-repeat="h in hours | filter: search | orderBy:predicate:reverse">
                            <td data-ng-bind="h.date | date: 'MM/dd/yyyy'"></td>
                            <td data-ng-show="showStudent" data-ng-bind="h.name"></td>
                            <td data-ng-bind="h.tailNumber"></td>
                            <td data-ng-bind="h.flight | number: 1"></td>
                            <td data-ng-bind="h.ground | number: 1"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
